/* General layout */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e0c28f;
}



h1 {
    /*font-family: 'Cinzel Decorative', serif;*/
    font-family: 'Uncial Antiqua', cursive;
    font-size: 58px;
    color: #2c2c2c;
    text-shadow: 1px 1px 2px #888;
}

h2 {
    font-family: 'Cinzel Decorative', serif;
    /*font-family: 'Uncial Antiqua', cursive;*/
    font-size: 28px;
    color: #3a3a3a;
    margin-top: 30px;
}


/* Table styling */
/*
table {
    border-collapse: collapse;
    width: 100%;
    background-color: aliceblue;
}
 */

table, form {
    width: 100%;
    background-color: #fffaf0; /* светлый фон, как старый свиток */
    border: 1px solid #c2a76d; /* золотистая рамка */
    box-shadow: 0 0 10px rgba(194, 167, 109, 0.3);
    padding: 10px;
    border-radius: 6px;
}


th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Pagination controls */
#paginationControls {
    margin-top: 10px;
}

#paginationControls button {
    margin: 2px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}

#paginationControls button:hover {
    background-color: #ddd;
}

#paginationControls .active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

/* Form styling */
/*
form {
    margin-top: 20px;
}
*/
form {
    width: 50%;
    background-color: #fffaf0; /* светлый фон, как старый свиток */
    border: 1px solid #c2a76d; /* золотистая рамка */
    box-shadow: 0 0 10px rgba(194, 167, 109, 0.3);
    padding: 10px;
    border-radius: 6px;
}

#createPlayerForm table {
    width: 100%;
    border-collapse: collapse;
}

#createPlayerForm td {
    border: none;
    padding: 8px;
    vertical-align: top;
    text-align: left;
}

#createPlayerForm td:first-child {
    width: 20%;
}

#createPlayerForm td:last-child {
    width: 80%;
}

#createPlayerForm input,
#createPlayerForm select {
    width: 250px;
    max-width: 100%;
    box-sizing: border-box;
}

#createPlayerForm button {
    float: left;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#createPlayerForm button:hover {
    background-color: #0056b3;
}

